.cv-container{
    margin-left : 10%;
    margin-right: 10%;
    margin-bottom: 35px;
}

.body-text{
     font-family: "Helvetica";
     font-size: medium;
 }

.icon{
    height: 50px;
    width: auto;
    margin: 10px;
}

