.App {
  text-align: center;
}

img {
  width: auto;
  height: 100%;
  align-items: center;
  max-height: 350px;
  overflow: hidden;
  margin: 0 auto;

}

.col-centered {
  display:inline-block;
  float:none;
  margin-right:-4px;
  text-align: center;
  border: 1px solid #ddd;
}
.Slide-Container{
  height: 350px;
}

@keyframes cf3FadeInOut {
  0% {
    opacity:1;
  }
  45% {
    opacity:1;
  }
  55% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}
